VITE_ROBOT_WS_URL=ws://127.0.0.1:8765
VITE_CAMERA_FRONT_WHEP_URL=http://127.0.0.1:8889/front/whep
VITE_CAMERA_REAR_WHEP_URL=http://127.0.0.1:8889/rear/whep
VITE_CAMERA_PANORAMIC_WHEP_URL=http://127.0.0.1:8889/panoramic/whep
